# Canberra crystal number 50160, tail end, ~ 1.7 kg (to length 125 mm)
# all lengths are in mm
# format is <key_word> <value> # comment, with key_word starting at beginning of line

# general
verbosity_level      2   #  0 = terse, 1 = normal, 2 = chatty/verbose

# detector geometry
xtal_length         59   # z length
xtal_radius         41   # radius
top_bullet_radius    3   # bulletization radius at top of crystal
bottom_bullet_radius 3   # bulletization radius at bottom of BEGe crystal
pc_length            0   # point contact length
pc_radius           10   # point contact radius
bulletize_PC         0   # point contact hemispherical rather than cylindrical
wrap_around_radius  14   # wrap-around radius
ditch_depth          2   # depth of ditch next to wrap-around
ditch_thickness      4   # width of ditch next to wrap-around
bottom_taper_length  0   # size of 45-degree taper at bottom of crystal
hole_length         30   # length of hole, for inverted-coax style
hole_radius          5   # radius of hole, for inverted-coax style
hole_bullet_radius   1   # bulletization radius at bottom of hole
pc_offset_x          0
pc_offset_y          0
hole_offset_x_top    0
hole_offset_y_top    4
hole_offset_x_bottom 0
hole_offset_y_bottom 4
outer_taper_length   0   # z-length of outside taper for inverted-coax style
inner_taper_length   0   # z-length of inside (hole) taper for inverted-coax style
taper_angle          5   # taper angle in degrees, for inner or outer taper

Li_thickness       1.0   # depth of full-charge-collection boundary for Li contact (not currently used)

# configuration for mjd_fieldgen (calculates electric fields & weighing potentials)
xtal_grid         0.25   # grid size in mm for field files (usually 0.5 or 0.1 mm)
impurity_z0       -2.0    # net impurity concentration at Z=0, in 1e10 e/cm3
impurity_gradient  0.15   # net impurity gardient, in 1e10 e/cm4
xtal_HV            4400   # detector bias for fieldgen, in Volts
# options for mjd_fieldgen:
max_iterations    1000  # maximum number of iterations to use in mjd_fieldgen
write_field       1      # 0/1: do_not/do write the standard field output file
write_WP          1      # 0/1: do_not/do calculate the weighting potential and write it to the file

# file names
drift_name   drift_vel_tcorr.tab # drift velocity lookup table
field_name   fields/ev_m60b.unf    # potential/efield file name; no included spaces allowed
wp_name      fields/wp_m60b.unf    # weighting potential file name; no included spaces allowed

# configuration for signal calculation 
xtal_temp         90     # crystal temperature in Kelvin
preamp_tau        30     # integration time constant for preamplifier, in ns
time_steps_calc   40000   # max. number of time steps used in calculations
step_time_calc    1    # length of time step used for calculation, in ns
step_time_out     2.0   # length of time step for output signal, in ns
#    nonzero values in the next few lines significantly slows down the code
charge_cloud_size 0      # initial FWHM of charge cloud, in mm
use_diffusion     0      # set to 0/1 for ignore/add diffusion as the charges drift
