# root of command to run
./icpc_fieldgen_opt 30925.config -r 30925.spe -z 0 -b 6000
#
# geometry options for scanning; values are low, high, increment
# g0: wrap_around_radius
# g1: hole_length_gap
# g2: hole_radius
# g3: inner_taper_length
# g4: taper_angle
# g5: xtal length
# g6: xtal radius

# default values:
massgoal 3300
dmass 200
fwhmgoal 2.5
dfwhm 0.15
aoegoal 0.8
daoe 0.3    # TOO SMALL? Changes with grid size, some noise....

# for doplot opt.pdc to work, need three -g options below;
#   if want only one or two, use extras with max = min, e.g.
#     -g3 55 55 5   # taper length
#     -g1 32 32 0.5 # hole_length_gap
# for color matching first option, use three values in second -g option

-g0 14.5 16 .5 # wrap_around_radius
#-g0 14 14.5 .5 # wrap_around_radius
-g3 55 65 5 # inner_taper_length
-g1 31.5 34.5 .5 # hole_length_gap


#-g3 55 65 5   # taper length

#-g1 36 38 0.5 # hole_length_gap
#-g2 4 6 2   # mirion
#-g3 0 70 5
#-g4 5 8 3   # mirion
#-g5 100 110 5
#-g6 44 45 0.5

# ./icpc_opt opt.config [-d[d]]; doplot.sh opt

# head -2 opt2.out> j; sort -n -k 7 opt2.out | tail -10 >> j; head -2 opt2.out >> j; sort -n -k 17 opt2.out | tail -10 >> j; cat j
# FOM in columns 7, 10, 17

