# root of command to run
./icpc_fieldgen_opt m/30925.config -r m/30925.spe -z 0 -b 6000
#
# geometry options for scanning; values are low, high, increment
# g0 = gw: wrap_around_radius
# g1 = gg: hole_length_gap
# g2 = gh: hole_radius
# g3 = gt: inner_taper_length
# g4 = ga: taper_angle
# g5 = gl: xtal length
# g6 = gr: xtal radius
# g7 = gz: z-cut position in mm (changes the -z input)
# g8 = gb: adjust both of the previous 2 parameters in anti-correlation

# default values:
massgoal 3300
dmass 200
fwhmgoal 2.5
dfwhm 0.15
aoegoal 0.8
daoe 0.3    # TOO SMALL? Changes with grid size, some noise....

-gg 31 1 # hole_length_gap
-gw 15 1 # wrap_around_radius
#-gb  0 1 # both previous parameters
-gt 56 1 # inner_taper_length
#-g6 44 45 0.5

# ./icpc_search test_search.config -dd

# head -2 opt2.out> j; sort -n -k 7 opt2.out | tail -10 >> j; head -2 opt2.out >> j; sort -n -k 17 opt2.out | tail -10 >> j; cat j
# FOM in columns 7, 10, 17

